# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives:**
List popular languages for Data Science:
- Python
- Sql
- Scala
- R

Some of the popular languages that Data Scientists use are:
    1.Python
    2.R
    3.Scala
    4.Julia

Some of the commonly used libraries used by Data Scientists include:
1.Matplotlib
2.Sckit-Learn
3.TensorFlow
4.seaborn

|Data Science Tools|
|------------------|
|Mysql|
|Git|
|Hue|

### Below are a few examples of evaluating arithmetic expressions in Python

In [2]:
#This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [4]:
#This will convert 200 minutes to hours by diving by 60
minutes=200
hours=200/60
print('hours: ',hours)

hours:  3.3333333333333335

## Author
Kacharla Dhanraj